{% extends 'admin/adminbase.html' %}
{% load static %}


{% block body %}




    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Categories
                                <small>Multikart Admin panel</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="{% url 'core:index' %}"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Physical</li>
                            <li class="breadcrumb-item active">Category</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- Default box -->


                            <h5>  Category List </h5>
                            <div class="card-tools ">
                                <a href="{% url 'core:add_banner' %}">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-original-title="test" data-target="#exampleModal">Add Category
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 ">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Project Name
                        </th>
                        <th style="width: 10%">
                            Team Members
                        </th>
                        <th style="width: 10%">
                            Team Members
                        </th>
                        <th style="width: 8%" class="text-center">
                            Status
                        </th>
                        <th style="width: 30%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rs in Banners %}
                        <tr>
                            <td>
                                 {{ forloop.counter }}
                            </td>
                            <td>
                                <a>
                                    {{ rs.group }}
                                </a>
                                <br/>
                                <small>
                                    {{ rs.caption }}
                                </small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar"
                                                {% if rs.image %}
                                             src="{{ rs.image.url }}">
                                                {% endif %}
                                    </li>

                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         aria-volumenow="57" aria-volumemin="0" aria-volumemax="100"
                                         style="width: 57%">
                                    </div>
                                </div>
                                <small>
                                    57% Complete
                                </small>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">{{ rs.status }}</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="{% url 'core:BannerDetailView' rs.id %}">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                    {% include "_pagination.html" %}
                {% endif %}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>

    <!-- Container-fluid Ends-->


{% endblock %}
{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %} {% include 'admin/js.html' %}  {% endblock %}
