{% extends 'admin/adminbase.html' %}
{% load crispy_forms_filters %}
{% load static %}






{% block body %}

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Add Category
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Physical</li>
                        <li class="breadcrumb-item active">Add Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->


    <!-- Container-fluid starts-->

    {% block content %}
        <h2>Profile</h2>
        <hr>
        <div class="col-md-4">
            {% if formset and banner_form %}
                <form class="needs-validation add-product-form" novalidate=""
                      enctype="multipart/form-data" action="{% url 'core:add_banner' %}"
                      method="post">
                    {% csrf_token %}
                {% if form.errors %}
                                {% for error_field, error_message in form.errors.items %}
                                {% endfor %}
                            {% endif %}
                    {{ banner_form|crispy }}
                    <table class="table">
                         {{ formset }}



                    </table>
                    <input type="submit" value="Save"/> <a href="{% url 'core:add_banner' %}">back to the list</a>
                </form>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script src="{% static 'formset/jquery.formset.js' %}"></script>
                <script type="text/javascript">
                    $('.formset_row').formset({
                        addText: 'add banner',
                        deleteText: 'remove',
                        prefix: 'banner'
                    });
                </script>
                 {% if formset.errors or banner_form.errors %}
                <h3>Add All Date</h3>
                {{ formset.errors }}
                {{ banner_form.errors }}
            {% endif %}


        {% else %}
            <p>No form!</p>
        {% endif %}

    {% endblock %}
    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

  {% endblock %}
    <!-- Container-fluid Ends-->








{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %} {% include 'admin/js.html' %}  {% endblock %}
