{% load static %}
   <!-- latest jquery-->
<script src="{% static ''%}js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="{% static ''%}js/popper.min.js"></script>
<script src="{% static ''%}js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="{% static ''%}js/icons/feather-icon/feather.min.js"></script>
<script src="{% static ''%}js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="{% static ''%}js/sidebar-menu.js"></script>
<script src="{% static ''%}js/slick.js"></script>

<!-- Jsgrid js-->
<script src="{% static ''%}js/jsgrid/jsgrid.min.js"></script>
<script src="{% static ''%}js/jsgrid/griddata-invoice.js"></script>
<script src="{% static ''%}js/jsgrid/jsgrid-invoice.js"></script>

<!-- lazyload js-->
<script src="{% static ''%}js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="{% static ''%}js/chat-menu.js"></script>

<!--script admin-->
<script src="{% static ''%}js/admin-script.js"></script>
<script>
    $('.single-item').slick({
            arrows: false,
            dots: true
        }
    );
</script>
-->
