{% load static%}

<!-- latest jquery-->
<script src="{% static '' %}js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="{% static '' %}js/popper.min.js"></script>
<script src="{% static '' %}js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="{% static '' %}js/icons/feather-icon/feather.min.js"></script>
<script src="{% static '' %}js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="{% static '' %}js/sidebar-menu.js"></script>

<!--chartist js-->
<script src="{% static '' %}js/chart/chartist/chartist.js"></script>

<!--chartjs js-->
<script src="{% static '' %}js/chart/chartjs/chart.min.js"></script>

<!-- lazyload js-->
<script src="{% static '' %}js/lazysizes.min.js"></script>

<!--copycode js-->
<script src="{% static '' %}js/prism/prism.min.js"></script>
<script src="{% static '' %}js/clipboard/clipboard.min.js"></script>
<script src="{% static '' %}js/custom-card/custom-card.js"></script>

<!--counter js-->
<script src="{% static '' %}js/counter/jquery.waypoints.min.js"></script>
<script src="{% static '' %}js/counter/jquery.counterup.min.js"></script>
<script src="{% static '' %}js/counter/counter-custom.js"></script>

<!--peity chart js-->
<script src="{% static '' %}js/chart/peity-chart/peity.jquery.js"></script>

<!--sparkline chart js-->
<script src="{% static '' %}js/chart/sparkline/sparkline.js"></script>

<!--Customizer admin-->
<script src="{% static '' %}js/admin-customizer.js"></script>

<!-- Touchspin Js-->
<script src="{% static '' %}js/touchspin/vendors.min.js"></script>
<script src="{% static '' %}js/touchspin/touchspin.js"></script>
<script src="{% static '' %}js/touchspin/input-groups.min.js"></script>

<!-- Rating Js-->
<script src="{% static '' %}js/rating/jquery.barrating.js"></script>
<script src="{% static '' %}js/rating/rating-script.js"></script>

<!-- Owlcarousel js-->
<script src="{% static '' %}js/owlcarousel/owl.carousel.js"></script>
<script src="{% static '' %}js/dashboard/product-carousel.js"></script>

<!-- Jsgrid js-->
<script src="{% static '' %}js/jsgrid/jsgrid.min.js"></script>
<script src="{% static '' %}js/jsgrid/griddata-manage-product.js"></script>
<script src="{% static '' %}js/jsgrid/jsgrid-manage-product.js"></script>


<!-- form validation js-->
<script src="{% static '' %}js/dashboard/form-validation-custom.js"></script>

<!-- ckeditor js-->
<script src="{% static '' %}js/editor/ckeditor/ckeditor.js"></script>
<script src="{% static '' %}js/editor/ckeditor/styles.js"></script>
<script src="{% static '' %}js/editor/ckeditor/adapters/jquery.js"></script>
<script src="{% static '' %}js/editor/ckeditor/ckeditor.custom.js"></script>

<!-- Zoom js-->
<script src="{% static '' %}js/jquery.elevatezoom.js"></script>
<script src="{% static '' %}js/zoom-scripts.js"></script>


<!--dashboard custom js-->
<script src="{% static '' %}js/dashboard/default.js"></script>

<!--right sidebar js-->
<script src="{% static '' %}js/chat-menu.js"></script>

<!--height equal js-->
<script src="{% static '' %}js/height-equal.js"></script>

<!-- lazyload js-->
<script src="{% static '' %}js/lazysizes.min.js"></script>

<!--script admin-->
<script src="{% static '' %}js/admin-script.js"></script>
