{% extends 'admin/adminbase.html' %}

{% load crispy_forms_filters %}
{% load static %}
{% load widget_tweaks %}
{% block body %}




    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Store Setting
                                <small>{{ setting.title }} Admin panel</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Setting</li>
                            <li class="breadcrumb-item active">{{ setting.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Store Details</h5>
                </div>
                <div class="card-body">
                    <form class="needs-validation" enctype="multipart/form-data"
                          action="{% url 'SiteSetting:update_setting' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="form">


                            <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active show" id="general-tab" data-toggle="tab"
                                                        href="#general" role="tab" aria-controls="general"
                                                        aria-selected="true"
                                                        data-original-title="" title="">General</a></li>

                                <li class="nav-item"><a class="nav-link" id="option-tabs" data-toggle="tab"
                                                        href="#option"
                                                        role="tab" aria-controls="option" aria-selected="false"
                                                        data-original-title="" title="">Option</a></li>
                                <li class="nav-item"><a class="nav-link" id="image-tabs" data-toggle="tab" href="#image"
                                                        role="tab" aria-controls="image" aria-selected="false"
                                                        data-original-title="" title="">Image</a></li>
                                <li class="nav-item"><a class="nav-link" id="seo-tab" data-toggle="tab"
                                                        href="#seo"
                                                        role="tab" aria-controls="social" aria-selected="false"
                                                        data-original-title="" title="">Seo</a></li>
                                <li class="nav-item"><a class="nav-link" id="social-tab" data-toggle="tab"
                                                        href="#social"
                                                        role="tab" aria-controls="social" aria-selected="false"
                                                        data-original-title="" title="">Social Link</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="general" role="tabpanel"
                                     aria-labelledby="general-tab">

                                    <h4>General</h4>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label for="validationCustom0" class="col-xl-3 col-md-4"></label>
                                                {{ forms.title|as_crispy_field:"bootstrap4" }}
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-xl-3 col-md-4"></label>
                                                {{ forms.keywords|as_crispy_field:"bootstrap4" }}

                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-md-4">Company</label>
                                                {{ forms.company|as_crispy_field:"bootstrap4" }}

                                            </div>
                                            <div class="form-group row">
                                                <label for="validationCustom0" class="col-xl-3 col-md-4"></label>
                                                {{ forms.phone|as_crispy_field:"bootstrap4" }}

                                            </div>
                                            <div class="form-group row">
                                                <label for="validationCustom0" class="col-xl-3 col-md-4"></label>
                                                {{ forms.email|as_crispy_field:"bootstrap4" }}

                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-md-4">Status</label>
                                                {{ forms.status|as_crispy_field:"bootstrap4" }}

                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div class="tab-pane fade" id="option" role="tabpanel" aria-labelledby="option-tab">

                                    <h4>Contact</h4>
                                    <div class="form-group row">
                                        <label for="validationCustom6" class="col-xl-3 col-md-4">About</label>
                                        {{ forms.about|as_crispy_field:"bootstrap4" }}

                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom7" class="col-xl-3 col-md-4">Contact</label>
                                        {{ forms.contact|as_crispy_field:"bootstrap4" }}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                                    <div class="card-body">
                                        <div class="row product-adding">
                                            <div class="col-xl-5">
                                                <div class="add-product">
                                                    <div class="row">
                                                        <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                            <img src="{% static "" %}images/pro3/1.jpg" alt=""
                                                                 class="img-fluid image_zoom_1 blur-up lazyloaded">
                                                        </div>
                                                        <div class=" ">
                                                            <ul class="file-upload-product">


                                                                {{ forms.image|as_crispy_field:"bootstrap4" }}


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="card-body">
                                                <div class="row product-adding">
                                                    <div class="col-xl-5">
                                                        <div class="add-product">
                                                            <div class="row">
                                                                <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                                    <img src="{% static "" %}images/pro3/1.jpg" alt=""
                                                                         class="img-fluid image_zoom_1 blur-up lazyloaded">
                                                                </div>
                                                                <div class=" ">
                                                                    <ul class="file-upload-product">





                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">

                                    <h4>Social Link</h4>
                                    <div class="form-group row">
                                        <label for="validationCustom6" class="col-xl-3 col-md-4">Facebook</label>
                                        {{ forms.slug|as_crispy_field:"bootstrap4" }}

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">

                                    <h4>Social Link</h4>
                                    <div class="form-group row">
                                        <label for="validationCustom6" class="col-xl-3 col-md-4">Facebook</label>
                                        {{ forms.facebook|as_crispy_field:"bootstrap4" }}

                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom7" class="col-xl-3 col-md-4">Instgram</label>
                                        {{ forms.instagram|as_crispy_field:"bootstrap4" }}

                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom7" class="col-xl-3 col-md-4">Twitter</label>
                                        {{ forms.twitter|as_crispy_field:"bootstrap4" }}

                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom7" class="col-xl-3 col-md-4">Youtube</label>
                                        {{ forms.youtube|as_crispy_field:"bootstrap4" }}

                                    </div>

                                </div>
                            </div>

                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-light">Discard</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

    </div>
    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}


{% endblock %}

{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %}{% include 'admin/js.html' %}{% endblock %}