{% extends 'admin/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}




{% block body %}




    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Add Products
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin"><i data-feather="home"></i></a></li>
                        {% for rs in category %}
                            <li class="breadcrumb-item">Physical</li>
                            <li class="breadcrumb-item active">{{ rs.title }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Add Product</h5>
                    </div>
                    <div class="card-body">
                        <div class="row product-adding">
                            <div class="col-xl-5">
                                <div class="add-product">
                                    <div class="row">
                                        <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                            {% for rs in category %}
                                                <img src="{{ rs.image.url }}" alt=""
                                                     class="img-fluid image_zoom_1 blur-up lazyloaded">
                                            {% endfor %}
                                        </div>
                                        <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                            <ul class="file-upload-product">
                                                <li>
                                                    <div class="box-input-file"><input class="upload" type="file"><i
                                                            class="fa fa-plus"></i></div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <form class="needs-validation add-product-form">

                                    <div class="form">
                                        {% csrf_token %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {% for rs in category %}
                                            <div class="form-group mb-3 row">
                                            {% for field in form.visible_fields %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field|add_class:'form-control' }}
                                                    {% for error in field.errors %}
                                                        <span class="help-block">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            <div class="offset-xl-3 offset-sm-4">
                                                <button type="submit" class="btn btn-primary" value="Save">
                                                    Add
                                                </button>
                                                <a href="{% url 'home' %}" class="btn btn-default">
                                                    <button type="button" class="btn btn-light">Cancel</button>
                                                </a>
                                            </div>
                                        {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->


{% endblock %}

{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %} {% include 'admin/js.html' %}  {% endblock %}