{% extends 'admin/adminbase.html' %}
{% load static %}

{% block body %}



        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>Create Page
                                    <small>Multikart Admin panel</small>
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Pages</li>
                                <li class="breadcrumb-item active">Create Page</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="card tab2-card">
                    <div class="card-header">
                        <h5>Add Manufacturer</h5>

                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active show" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true" data-original-title="" title="">General</a></li>
                            <li class="nav-item"><a class="nav-link" id="seo-tabs" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false" data-original-title="" title="">SEO</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                                <form action="{% url 'home:manufacturer' %}" method="post" id="manufacturer-form" enctype="multipart/form-data">{% csrf_token %}
                                    <h4>General</h4>
                                    <div class="form-group row">
                                        <label for="manufacturer-title" class="col-xl-3 col-md-4"><span>*</span> Name</label>
                                        <input class="form-control col-xl-8 col-md-7" id="manufacturer-title" type="text">
                                    </div>
                                    <div class="form-group row editor-label">
                                        <label class="col-xl-3 col-md-4"><span>*</span> Description</label>
                                        <div class="col-xl-8 col-md-7 editor-space">
                                            <textarea id="manufacturer-keywords" name="editor1" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">Status</label>
                                        <div class="checkbox checkbox-primary col-xl-8 col-md-7">
                                            <input id="checkbox-primary-2" type="checkbox" data-original-title="" title="">
                                            <label for="checkbox-primary-2">Enable the Page</label>
                                        </div>
                                        <label class="col-form-label pt-0"> Product Upload</label>
                                    <form class="dropzone digits" id="singleFileUpload" action="/upload.php">
                                        <div class="dz-message needsclick"><i class="fa fa-cloud-upload"></i>
                                            <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tabs">
                                <form class="needs-validation">
                                    <h4>SEO</h4>
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4">Meta Title</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom2" type="text" >
                                    </div>
                                    <div class="form-group row editor-label">
                                        <label class="col-xl-3 col-md-4">Meta Description</label>
                                        <textarea rows="4" class="col-xl-8 col-md-7"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

        </div>

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright 2019 © Multikart All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->

    </div>

</div>

{% endblock %}

{% block foot %} {% include 'admin/footer.html' %}  {% endblock %}
{% block js %}{% include 'admin/js.html' %}{% endblock %}



<script type="text/javascript">
    $(document).ready(function(){
    $('#addmanufacturereModel').on('show.bs.modal', function (event) {
        var getTagList = $("#tag-list").title().split(",");
        if($("#tag-list").title()==""){
            var getTagList = [];
        }
        $('[name="tags"]').tagify({
            whitelist: getTagList,
            maxTags: 10,
            dropdown: {
                // maxItems: 20,           // <- mixumum allowed rendered suggestions
                classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
                enabled: 0,             // <- show suggestions on focus
                closeOnSelect: false,    // <- hide the suggestions dropdown once an item has been selected
                duplicates :false,
            },
        })
      })
    $(document).on('submit',"#manufacturer-form",function(e){
        e.preventDefault();
        var modal = $("#addmanufacturerModel");
        var form = $("#manufacturer-form");
        var url = form.attr("action");
        var httpMethod = form.attr("method");
        var TagValues = JSON.parse($('[name="tags"]').tagify().val())
        var TagArray = []
        for(let i=0;i<TagValues.length;i++){
            TagArray.push(TagValues[i].value)
        }
        var dataToSend = $(this).serializeArray();
        for (let index = 0; index < dataToSend.length; ++index) {
            if (dataToSend[index].name == "tags") {
                dataToSend[index].value = TagArray;
                break;
            }
        }
        $.ajax({
        url: url,
        method: httpMethod,
        data: jQuery.param(dataToSend),
        success: function(data){
            document.getElementById("manufacturer-form").reset();
            modal.modal('toggle');
            var shortText = jQuery.trim(data.text).substring(0, 79) + '...';
            var shortTitle = jQuery.trim(data.title).substring(0, 21);
            if (data.manufacturer_created){
            // we can't include the snippet bcoz- Any jQuery calls will happen after the DOM is loaded. While any include statements will happen before.
                var manufacturer = $(".full-manufacturer-col").clone();
                manufacturer.removeClass("d-none");
                manufacturer.find(".card-title").text(shortTitle);
                manufacturer.find(".card-keywords").text(shortKeywords);
                var manufacturer_badges = manufacturer.find("#badge-list");
                for(let i=0;i<TagArray.length;i++){
                    var url = "manufacturer/tag/"+TagArray[i]
                    manufacturer_badges.append(
                        "<a href=\""+url +"\" class=\'badge badge-primary\'>#"+ TagArray[i] +'</a>'
                    )
                    console.log("appended a badge");
                }
                $(".manufacturer-list-row").prepend(manufacturer);
            }
            else{
                // manufacturer is updated
                var manufacturer = $("#manufacturer_"+data.id);
                manufacturer.find(".card-title").text(shortTitle);
                manufacturer.find(".card-keywords").text(shortKeywords);
                var manufacturer_badges = manufacturer.find("#badge-list").text('');
                for(let i=0;i<TagArray.length;i++){
                    var url = "manufacturer/tag/"+TagArray[i]
                    manufacturer_badges.append(
                        "<a href=\""+url +"\" class=\'badge badge-primary\'>#"+ TagArray[i] +'</a>'
                    )
                    console.log("appended a badge");
                }
            }
            $("#empty-manufacturer-msg").addClass("d-none");
        },
        error: function(xhr,errmsg,err){
            console.log("below is the error msg")
            console.log(xhr.status + ": " + xhr.responseText);
        }
      })
    });
});
</script>