

    <div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Store Setting
                            <small>{{ setting.title }} Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Setting</li>
                        <li class="breadcrumb-item active">{{ setting.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card tab2-card">
            <div class="card-header">
                <h5>Store Details</h5>
            </div>
            <div class="col-xl-9 xl-50 col-sm-6 col-9">
                  <form class="needs-validation add-product-form" novalidate=""
                                      enctype="multipart/form-data" action="{% url 'core:ProductCreate' %}"
                                      method="post">

                                    {{ form }}
                                        <div class="offset-xl-3 offset-sm-4">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                            <button type="button" class="btn btn-light">Discard</button>
                                        </div>
                                    </div>
