{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}

        {{forms|crispy}}
        <button type="submit" class="btn btn-success btn-lg btn-block">submit</button>
        {% endif %}
</form>
</body>
</html>