<!DOCTYPE html>
<html lang="en">
{% load imagefit %}
{% load myapptags %}
{% load static %}
{% load bootstrap4 %}
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{% static '' %}images/favicon/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="{% static '' %}images/favicon/1.png" type="image/x-icon">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/slick.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/color1.css" media="screen" id="color">



    {% block head %}


    {% endblock %}
</head>
<body>
{% include 'front/header.html' %}
{% block sidebar %} {% endblock %}
{% block slider %} {% endblock %}
{% block body %} {% endblock %}
{% block foot %} {% endblock %}
{% block js %} {% endblock %}




</body>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="101167818651440">
      </div>
</html>