{% load static %}
{% load imagefit %}
{% load bootstrap4 %}
    <!-- Home slider -->
    <section class="p-0">
         {% for rs in banner %}
        <div class="slide-1 home-slider">
            <div>
                <div class="home  text-center">

                    <img src="{{ rs.image|resize:"1920x780,c" }}" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h4>welcome to fashion</h4>
                                        <h1> {{ rs.caption }}</h1>
                                        <a href="#" class="btn btn-solid">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="home text-center">
                    <img src="{% static '' %}images/home-banner/2.jpg" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h4>welcome to fashion</h4>
                                        <h1>women fashion</h1>
                                        <a href="#" class="btn btn-solid">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          {% endfor %}
    </section>
    <!-- Home slider end -->
